G_USE_REMOTE_MODEL=true
G_REMOTE_MODEL_NAME=openai/gpt-4o-mini
G_REMOTE_MODEL_API=""

G_LOCAL_MODEL_NAME=t-lite-it-1.0-q8_0.gguf
G_LOCAL_MODEL_URL=http://llama-generator:8082/v1
G_DEVICE=cpu

R_EMBEDDING_MODEL_NAME=FRIDA-q8_0.gguf
R_EMBEDDING_API_URL=http://llama-embeddings:8083/v1
R_DEVICE=cpu

CE_LOCAL_MODEL_NAME=bge-reranker-v2-m3-q4_k_m.gguf
CE_RERANKER_API_URL=http://llama-reranker:8084/v1
CE_DEVICE=cpu

OPENAI_API_BASE=https://openrouter.ai/api/v1
OPENAI_API_KEY=""